<div align="center">
<h1> Dice Roll: random numbers</h1>

  <% roll = 1 + rand(6) %>
  <% roll2 = 1 + rand(6) %>

  The first die number is:  <%= roll %>

  <img src="http://kiei925.com/images/dice/<%= roll%>.png">

The second die number is:  <%= roll2 %>

  <img src="http://kiei925.com/images/dice/<%= roll2%>.png">
</p>
</div align="center">
