<div align="center">
<h1> Dice Roll: random numbers</h1>

  <% roll = 1 + rand(6) %>

  The first die number is:  <%= roll %>
  </P>

  <img src="http://kiei925.com/images/dice/<%= roll%>.png">
</p>
</div align="center">
