<h1> <div align="center"> <font color=purple>Let's get reading! </h1>

<div align="center"><table>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse
}
</style>
<thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
  </tr>
  </thead>
  <% all_books = Book.read %>
  <tbody>
<% all_books.each do |book| %>
  <tr>
    <td> <%= book["title"] %> </td>
    <td> <%= book["author"] %> </td>
  </tr>
<% end %>
</tbody>
</table>
