<head>

<h1> <div align="center"> <font color=purple>Let's get reading! </h1>


<div align="center"><table>
<table border="1" style="border-collapse:collapse;" cellpadding="0" cellspacing="0" summary="">
<thead>
  <tr>
    <th> Title </th>
    <th> Author </th>
  </tr>
  </thead>
  <% all_books = Book.read %>
  <tbody>
<% all_books.each do |book| %>
  <tr>
    <td> <%= book["title"] %> </td>
    <td> <%= book["author"] %> </td>
  </tr>
<% end %>
</tbody>
</table>
</table>
</div>
</font>
</div>
