<h2> <font face="verdana" color=purple> Book review! </font> </h2>

<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_books = Book.read.order("title asc") %>

  <thead>
  <tr>
    <th> Title </th>
    <th> Average Rating </th>
  </tr>
  </thead>
  <tbody>
<% all_books.each do |book| %>
  <tr>
    <% name = book["title"] %>
    <% avgrating = Review.where("title" => name).average("rating") %>
    <td><%= link_to name, "/books/#{book["id"]}" %> </td>
    <td><%= avgrating.round %> </td>

  </tr>
<% end %>
</tbody>
</table>


